<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Weather</title>
    
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'check_weather/seven.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>

</head>

<body>

    <div class="header">

    <a href="http://127.0.0.1:8000/" class="logo">Weather Forecast</a>
    
    <div class="header-right">
 
        <a href="{% url 'your_city' %}">Your City</a>

        {% if user.is_authenticated %}

        <a class="active" href="{% url 'logout' %}">Logout</a>

        {% else %}

        <a href="{% url 'signup' %}">Sign Up</a>

        {% endif %}

        <a class="active" href="{% url 'login' %}">Login</a>

    </div>

</div>

    <div class="seven">

    <section class="section">

        <div class="container">

            <div class="columns">

                <div class="column is-offset-4 is-4">

                    <form method="POST">

                        {% csrf_token %}

                        <div class="field has-addons">

                            <div class="control is-expanded">

                                <form method="POST">

                        {% csrf_token %}

                                {{ form.name }}

                            </div>

                            <div class="control">

                            </div>

                        </div>
                        
                        <br><br><br><br><button style='outline: none;' type='
                        submit'>Search</button></p>

                    </form>

                </div>

            </div>

        </div>

    </section>

        <section class="section">

            <div class="container">

                <div class="columns">

                    <div class="column is-offset-4 is-4">

                        {% for city_weather in weather %}

                        <div class="box">

                            <article class="media">

                                <div class="media-left">

                                    <figure class="image is-50x50">

                                        <img src="http://openweathermap.org/img/w/{{ city_weather.one_icon }}.png" alt="Image">
 
                                    </figure>
 
                                </div>
                            
 
                                <div class="media-content">
 
                                    <div class="content">
 
                                        <span class="title">{{ city_weather.city }}</span>
                                        
                                        <br> Average temperature {{ average }} °C
                                        
                                        <p>Date: <span id="datetime1"></span>

                                        </p>
                                        
                                        <script>
                                        
                                        var d = new Date();
                                        var dt = d.getDate(d.setDate(d.getDate()));
                                        document.getElementById("datetime1").innerHTML = dt.toLocaleString();
                                        
                                        </script>
                                        
                                        <p>
                                            <br>
                                            <br><span class="subtitle">Day {{ city_weather.day_one_temp }}°C</span>
                                            <br><span class="subtitle">Night {{ city_weather.night_one_temp }}°C</span>
                                            <br><span class="subtitle">Max Temperature {{ city_weather.max_one_temp }}°C</span>
                                            <br><span class="subtitle">Min Temperature {{ city_weather.min_one_temp }}°C</span>
                                            <br> {{ city_weather.one_desc }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ city_weather.two_icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>Date: <span id="datetime2"></span></p>
                                        <script>
                                        var d = new Date();
                                        var dt = d.getDate(d.setDate(d.getDate()+1));
                                        document.getElementById("datetime2").innerHTML = dt.toLocaleString();
                                        </script>
                                        <p>
                                            <br>
                                            <br><span class="subtitle">Day {{ city_weather.day_two_temp }}°C</span>
                                            <br><span class="subtitle">Night {{ city_weather.night_two_temp }}°C</span>
                                            <br><span class="subtitle">Max Temperature {{ city_weather.max_two_temp }}°C</span>
                                            <br><span class="subtitle">Min Temperature {{ city_weather.min_two_temp }}°C</span>
                                            <br> {{ city_weather.two_desc }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ city_weather.three_icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>Date: <span id="datetime3"></span></p>
                                        <script>
                                        var d = new Date();
                                        var dt = d.getDate(d.setDate(d.getDate()+2));
                                        document.getElementById("datetime3").innerHTML = dt.toLocaleString();
                                        </script>
                                        <p>
                                            <br>
                                            <br><span class="subtitle">Day {{ city_weather.day_three_temp }}°C</span>
                                            <br><span class="subtitle">Night {{ city_weather.night_three_temp }}°C</span>
                                            <br><span class="subtitle">Max Temperature {{ city_weather.max_three_temp }}°C</span>
                                            <br><span class="subtitle">Min Temperature {{ city_weather.min_three_temp }}°C</span>
                                            <br> {{ city_weather.three_desc }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ city_weather.four_icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>Date: <span id="datetime4"></span></p>
                                        <script>
                                        var d = new Date();
                                        var dt = d.getDate(d.setDate(d.getDate()+3));
                                        document.getElementById("datetime4").innerHTML = dt.toLocaleString();
                                        </script>
                                        <p>
                                            <br>
                                            <br><span class="subtitle">Day {{ city_weather.day_four_temp }}°C</span>
                                            <br><span class="subtitle">Night {{ city_weather.night_four_temp }}°C</span>
                                            <br><span class="subtitle">Max Temperature {{ city_weather.max_four_temp }}°C</span>
                                            <br><span class="subtitle">Min Temperature {{ city_weather.min_four_temp }}°C</span>
                                            <br> {{ city_weather.four_desc }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ city_weather.five_icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>Date: <span id="datetime5"></span></p>
                                        <script>
                                        var d = new Date();
                                        var dt = d.getDate(d.setDate(d.getDate()+4));
                                        document.getElementById("datetime5").innerHTML = dt.toLocaleString();
                                        </script>
                                        <p>
                                            <br>
                                            <br><span class="subtitle">Day {{ city_weather.day_five_temp }}°C</span>
                                            <br><span class="subtitle">Night {{ city_weather.night_five_temp }}°C</span>
                                            <br><span class="subtitle">Max Temperature {{ city_weather.max_five_temp }}°C</span>
                                            <br><span class="subtitle">Min Temperature {{ city_weather.min_five_temp }}°C</span>
                                            <br> {{ city_weather.five_desc }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ city_weather.six_icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>Date: <span id="datetime6"></span></p>
                                        <script>
                                        var d = new Date();
                                        var dt = d.getDate(d.setDate(d.getDate()+5));
                                        document.getElementById("datetime6").innerHTML = dt.toLocaleString();
                                        </script>
                                        <p>
                                            <br>
                                            <br><span class="subtitle">Day {{ city_weather.day_six_temp }}°C</span>
                                            <br><span class="subtitle">Night {{ city_weather.night_six_temp }}°C</span>
                                            <br><span class="subtitle">Max Temperature {{ city_weather.max_six_temp }}°C</span>
                                            <br><span class="subtitle">Min Temperature {{ city_weather.min_six_temp }}°C</span>
                                            <br> {{ city_weather.six_desc }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ city_weather.seven_icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>Date: <span id="datetime7"></span></p>
                                        <script>
                                        var d = new Date();
                                        var dt = d.getDate(d.setDate(d.getDate()+6));
                                        document.getElementById("datetime7").innerHTML = dt.toLocaleString();
                                        </script>
                                        <p>
                                            <br>
                                            <br><span class="subtitle">Day {{ city_weather.day_seven_temp }}°C</span>
                                            <br><span class="subtitle">Night {{ city_weather.night_seven_temp }}°C</span>
                                            <br><span class="subtitle">Max Temperature {{ city_weather.max_seven_temp }}°C</span>
                                            <br><span class="subtitle">Min Temperature {{ city_weather.min_seven_temp }}°C</span>
                                            <br> {{ city_weather.seven_desc }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        
</body>
</html>